<image name="SuseAxway" displayname="SuseAxway" schemaversion="5.2">
  <packages type="image" patternType="onlyRequired">
    <packages name="aaa_base" />
    <packages name="branding-openSUSE" />
    <packages name="patterns-openSUSE-base" />
    <packages name="grub2" />
    <packages name="hwinfo" />
    <packages name="iputils" />
    <packages name="kernel-default" />
    <packages name="netcfg" />
    <packages name="openSUSE-build-key" />
    <packages name="openssh" />
    <packages name="plymouth" />
    <packages name="polkit-default-privs" />
    <packages name="rpcbind" />
    <packages name="syslog-ng" />
    <packages name="vim" />
    <packages name="zypper" />
    <packages name="timezone" />
  </packages>
  <packages type="bootstrap">
    <packages name="filesystem" />
    <packages name="glibc-locale" />
    <packages name="module-init-tools" />
  </packages>
  <description type="system">
    <author>VM'owner</author>
    <contact>owner@domain.com</contact>
    <specification>Tiny Suse</specification>
  </description>
  <preference>
    <type checkprebuilt="true" boot="vmxboot/suse-12.3" fsnocheck="true" filesystem="ext3" bootloader="grub2" primary="true" format="vmdk" kernelcmdline="quiet" image="vmx">
      <machine memory="1024" arch="x86_64" guestOS="suse-64">
        <vmdisk controller="scsi" id="0" />
        <vmdvd controller="ide" id="0" />
        <vmnic driver="e1000" interface="0" mode="bridged" />
      </machine>
      <size unit="M" additive="false">16384</size>
    </type>
    <version>1.0.0</version>
    <packagemanager>zypper</packagemanager>
    <rpm-check-manager>false</rpm-check-manager>
    <rpm-force>false</rpm-force>
    <boot-theme>studio</boot-theme>
    <timezone>UTC</timezone>
    <hwclock>localtime</hwclock>
  </preference>
  <users group="root">
    <user name="root" pwd="$1$O18RH8FB$Hg7xawIuJlQzLfawBKb/H1" home="/root" shell="/bin/bash" />
  </users>
  <repository type="yast2">
    <source path="http://download.opensuse.org/distribution/12.3/repo/oss/" />
  </repository>
  <repository type="rpm-md">
    <source path="http://download.opensuse.org/update/12.3/" />
  </repository>
</image>